<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pengatur Tugas Kampus</title>
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/htmlSet.css" />
    <link rel="stylesheet" href="css/card.css" />
  </head>
  <body>
    <header>
      <h1>RazhaTask</h1>
      <nav>
        <ul>
          <li>
            <div><%= user.nama %></div>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/kelas"><%= user.kelas %></a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
      </nav>
    </header>
    <main>
      <div class="content-main"></div>
      
    </main>
    <footer></footer>
  </body>
  <script>
    var datas = [];
    fetch("/schedule/all")
      .then((response) => response.json())
      .then((data) => {
        datas = data;
        datas.forEach((e) => {
          const deploy = `
        <div class="card ${selesihWarna(e.last)}">
          <div><img src="${selisihGambar(e.last)}" alt="Gambar Kawaii"/></div>
          <div>
            <h3>${e.tema}</h3>
            <p>${e.content}</p>
            </div>
            <div>${selisihWaktu(e.last)}</div>
        </div>
      `;

          document.querySelector(".content-main").innerHTML += deploy;
        });
      })
      .catch((error) => {
        console.log("Error:", error);
      });

    function selisihGambar(t) {
      // Menghitung selisih waktu antara sekarang dan waktu target dalam milidetik
      var currentTime = new Date(t);
      var sixHoursLater = new Date(currentTime.getTime() + 6 * 60 * 60 * 1000);
      var oneDayLater = new Date(currentTime.getTime() + 24 * 60 * 60 * 1000);
      var oneHourLeft = new Date(currentTime.getTime() + 1 * 60 * 60 * 1000);

      if (sixHoursLater > currentTime) {
        return "/image/wait.gif";
      }
      if (oneDayLater > currentTime) {
        return "/image/enjoy.gif";
      }
      if (oneHourLeft > currentTime) {
        return "/image/panic.gif";
      }
    }

    function selisihWaktu(t) {
      var currentTime = new Date();
      var targetTime = new Date(t);
      var timeDifference = targetTime - currentTime;

      if (timeDifference > 24 * 60 * 60 * 1000) {
        var days = Math.floor(timeDifference / (24 * 60 * 60 * 1000));
        return `${days} hari lagi!`;
      }

      if (
        timeDifference < 24 * 60 * 60 * 1000 &&
        timeDifference > 60 * 60 * 1000
      ) {
        var hours = Math.floor(timeDifference / (60 * 60 * 1000));
        return `${hours} jam lagi!`;
      }

      if (timeDifference < 60 * 60 * 1000) {
        var minutes = Math.floor(timeDifference / (60 * 1000));
        return `${minutes} menit lagi!`;
      }
    }

    function selesihWarna(t) {
      // Menghitung selisih waktu antara sekarang dan waktu target dalam milidetik
      var currentTime = new Date(t);
      var sixHoursLater = new Date(currentTime.getTime() + 6 * 60 * 60 * 1000);
      var oneDayLater = new Date(currentTime.getTime() + 24 * 60 * 60 * 1000);
      var oneHourLeft = new Date(currentTime.getTime() + 1 * 60 * 60 * 1000);

      if (oneDayLater > currentTime) {
        return "cardBlue";
      }
      if (sixHoursLater > currentTime) {
        return "cardGreen";
      }
      if (oneHourLeft > currentTime) {
        return "cardRed";
      }
    }

  </script>
</html>