<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodePen - Finance Mobile Application-UX/UI Design Screen One</title>
<link rel="stylesheet" href="css/login.css">
</head>
<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <div class="wrapper">
        <div class="title-text">
          <div class="title login">Login Form</div>
          <div class="title signup">Signup Form</div>
        </div>
        <div class="form-container">
          <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked>
            <input type="radio" name="slide" id="signup">
            <label for="login" class="slide login">Login</label>
            <label for="signup" class="slide signup">Signup</label>
            <div class="slider-tab"></div>
          </div>
          <div class="form-inner">
            <form action="/login" method="post" class="login">
              <div class="field">
                <input type="text" placeholder="Email Address" name="email" required>
              </div>
              <div class="field">
                <input type="password" placeholder="Password" name="password" required>
              </div>
              <div class="pass-link"><a href="#">Forgot password?</a></div>
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Login">
              </div>
              <div class="signup-link">Not a member? <a href="">Signup now</a></div>
            </form>

            <form action="/daftar" method="post" class="signup">
              <div class="field">
                <input type="text" placeholder="Email Address" name="email" required>
              </div>
              <div class="field">
                <input type="text" placeholder="Your Name" name="name" required>
              </div>
              <div class="field">
                <input type="text" placeholder="NIM" name="nim" required>
              </div>
              <select class="field" name="nama_kelas" required>
                <option disabled selected>Pilih kelas</option>
                <option value="ptik-c">PTIK-C</option>
                <option value="ptik-b">PTIK-B</option>
                <option value="ptik-a">PTIK-A</option>
                <option value="ptik-d">PTIK-D</option>
              </select>
              <div class="field">
                <input type="password" id="passSign" placeholder="Password" name="password" required>
              </div>
              <div class="field">
                <input type="password" id="passTwo" placeholder="Confirm password" required>
              </div>
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Signup">
              </div>
            </form>
          </div>
        </div>
      </div>
</body>
<script>
     const loginText = document.querySelector(".title-text .login");
      const loginForm = document.querySelector("form.login");
      const loginBtn = document.querySelector("label.login");
      const signupBtn = document.querySelector("label.signup");
      const signupLink = document.querySelector("form .signup-link a");
      signupBtn.onclick = (()=>{
        loginForm.style.marginLeft = "-50%";
        loginText.style.marginLeft = "-50%";
      });
      loginBtn.onclick = (()=>{
        loginForm.style.marginLeft = "0%";
        loginText.style.marginLeft = "0%";
      });
      signupLink.onclick = (()=>{
        signupBtn.click();
        return false;
      });

  

</script>
</html>
