<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pengatur Tugas Kampus</title>
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/htmlSet.css" />
  </head>
  <style>
    .title {
        font-size: larger;
        font-family: 'Caveat', cursive;
        width: 100%;
        text-align: center;
    }
  </style>
  <body>
    <header>
      <h1>RazhaTask</h1>
      <nav>
        <ul>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2 class="title">
        <%= message %>
      </h2>
    </main>
    <footer></footer>
  </body>
</html>